# pnpm settings
export PNPM_HOME="$HOME/.local/share/pnpm"

{{- if eq .chezmoi.hostname "desktop" }}
# Nvidia/Wayland
export LIBVA_DRIVER_NAME=nvidia
export XDG_SESSION_TYPE=wayland
export GBM_BACKEND=nvidia-drm
export __GLX_VENDOR_LIBRARY_NAME=nvidia
export WLR_NO_HARDWARE_CURSORS=1
{{- end }}

# Use nvim for everything
export EDITOR="nvim"
export VISUAL="nvim"
export MANPAGER="nvim +Man!"

export PATH="$HOME/.cargo/bin:$HOME/.bin:$HOME/go/bin:$PNPM_HOME:$HOME/.local/bin:$PATH"
