{
  "layer": "top",
  "position": "top",
  "height": 34,
  "spacing": 0,

  "modules-left": ["hyprland/workspaces"],
  "modules-center": ["custom/waycal", "clock"],
  "modules-right": [
    "memory",
    "custom/cputemp",
    "custom/gputemp",
    "network",
    "battery",
    "pulseaudio",
    "group/quick-settings"
  ],

  "hyprland/workspaces": {
    "format": "{name}",
    "on-click": "activate"
  },

  "clock": {
    "format": "{:L%H:%M}",
    "locale": "pt_BR.UTF-8",
    "calendar": {}
  },

  "memory": {
    "format": "  {}%",
    "interval": 2,
    "on-click": "~/.bin/tui-float btop"
  },

  "custom/cputemp": {
    "exec": "~/.bin/temperature",
    "interval": 2,
    "on-click": "~/.bin/tui-float btop",
    "format": "󰻠 {text}",
    "format-warn": "󰻠 {%text}",
    "format-critical": "󰻠 {%text}",
    "return-type": "json"
  },

  {{- if eq .chezmoi.hostname "desktop" }}
  "custom/gputemp": {
    "exec": "~/.bin/temperature --chip nvidia",
    "interval": 2,
    "on-click": "~/.bin/tui-float btop",
    "format": "󰢮 {text}",
    "format-warn": "󰢮 {%text}",
    "format-critical": "󰢮 {%text}",
    "return-type": "json"
  },
  {{- end }}

  {{- if eq .chezmoi.hostname "thinkpad" }}
  "battery": {
    "format": "{capacity}% {icon}",
    "format-discharging": "{icon}",
    "format-charging": "{icon}",
    "format-plugged": "",
    "format-icons": {
      "charging": ["󰢜", "󰂆", "󰂇", "󰂈", "󰢝", "󰂉", "󰢞", "󰂊", "󰂋", "󰂅"],
      "default": ["󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"]
    },
    "format-full": "󰂅",
    "tooltip-format-discharging": "{power:>1.0f}W↓ {capacity}%",
    "tooltip-format-charging": "{power:>1.0f}W↑ {capacity}%",
    "interval": 5,
    "states": {
      "warning": 20,
      "critical": 10
    }
  },
  {{- end }}

  "network": {
    "format-icons": ["󰤯", "󰤟", "󰤢", "󰤥", "󰤨"],
    "format": "{icon}",
    "format-wifi": "{icon}",
    "tooltip-format-wifi": "{essid} ({frequency} GHz)",
    "tooltip-format-ethernet": "Connected",
    "tooltip-format-disconnected": "Disconnected",
    "interval": 3,
    "spacing": 1,
    "format-ethernet": "󰈀 {ifname}",
    "format-linked": "{ifname} (No IP)",
    "format-disconnected": "󰤮 ",
    "on-click": "~/.bin/tui-float impala"
  },

  "group/quick-settings": {
    "orientation": "inherit",
    "drawer": {
      "transition-duration": 500,
      "children-class": "quick-settings-item",
      "transition-left-to-right": false
    },
    "modules": ["custom/expand-icon", "hyprland/language", "tray"]
  },

  "custom/expand-icon": {
    "format": "",
    "tooltip": false
  },

  "pulseaudio": {
    "format": "{icon} {volume}%",
    "format-muted": "󰖁",
    "on-click": "~/.bin/tui-float wiremix",
    "scroll-step": 5,
    "format-icons": {
      "default": ["󰕿", "󰖀", "󰕾"]
    }
  },

  "hyprland/language": {
    "format": "󰌌 {}",
    "format-en": "EN",
    "format-pt": "BR"
  },

  "tray": {
    "icon-size": 18,
    "spacing": 8
  },

  "custom/waycal": {
    "format": "󰃭",
    "on-click": "pkill -x waycal || waycal",
    "interval": "once",
    "tooltip": false
  }
}
