{{ if eq .chezmoi.hostname "desktop" }}
# Set environemnt variables for Nvidia
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
{{ end }}

# Native wayland support for electron apps
env = ELECTRON_OZONE_PLATFORM_HINT,auto

# Auto start services
source = ~/.config/hypr/autostart.conf

# Load keybinds
source = ~/.config/hypr/keybinds.conf

# Load monitors positioning with nwg-displays
source = ~/.config/hypr/monitors.conf

# Load workspace rules with nwg-displays
source = ~/.config/hypr/workspaces.conf

# ayaka theme used as base
source = ~/.config/hypr/look_and_feel.conf

# Load window rules
source = ~/.config/hypr/window-rules.conf

# Load input devices config
source = ~/.config/hypr/input.conf

# https://wiki.hyprland.org/Configuring/Variables/#misc
misc {
    force_default_wallpaper = -1
    focus_on_activate = true
    disable_hyprland_logo = true
}

{{ if eq .chezmoi.hostname "thinkpad" }}
# closing lid turns off laptop display
bindl = , switch:on:Lid Switch, exec, hyprctl dispatch dpms off
bindl = , switch:off:Lid Switch, exec, hyprctl dispatch dpms on
{{ end }}
